
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



.hidden{
    display:none;
}

body{
    background-color:rgb(117, 66, 66);
    font-family: 'Montserrat', sans-serif;
}

h1{
    color:whitesmoke;
    text-decoration-line: underline;
}

p{
    color:whitesmoke;
}

label{
    color:whitesmoke;
}

h5{
    font-style: italic;
    font-weight:bolder;
    
}

#card1{
    background-color: orange;

}

#card2{
    background-color: orange;

}

#card3{
    background-color: orange;

}

#contactButton{
    background-color: orange;
}
